

.manubar {
  top: 0%;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  background-color:  #fadcac;
}

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 58px;
  width: 43px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 99;
  background: #fad27d;
  transition: .5s;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0%;
}

#drawer-check:checked ~ .drawer-open {
  left: 30%;
  animation: fadein .5s ease 0 0 normal ;
}

.drawer-content ul {
  padding: 70px 10px 0;
}

.drawer-content ul li {
  border-bottom: solid 1px #000000;
  list-style: none;
}

.drawer-content ul li a {
  display: block;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
  color:#000000;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.drawer-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #000000;
  border-right: solid 2px #000000;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

li a {
	display: block;
	padding: 0px 7px;
	text-decoration: none;
	color: #000000;
}

.breadcrumb {
    padding-top: 0%;
    -webkit-overflow-scrolling: touch; 
}

.breadcrumb ul {
  display: table;
}

.breadcrumb ul li {
  font-size: 1rem;
  display: table-cell; 
  white-space: nowrap; 
  vertical-align: middle;
  padding-right: 10px;
  position: relative;
}

.breadcrumb ul li:last-child {
  padding-right: 0;
}

.breadcrumb ul li:last-child:after {
  display: none;
}

.breadcrumb ul li:after {
  position: absolute;
  display: block;
  content: '';
  content: ">";
  top: 0px;
  right: -2px;
}

.breadcrumb ul li a:before {
  position: absolute;
  display: block;
  content: '';
  right: 5px;
  width: 90%;
  height: 1px;
  background-color: #111;
  bottom: 0px;
}

.breadcrumb ol li a,
.breadcrumb ol li span {
  position: relative;
  display: block;
  top: -4px;
}

.breadcrumb ul li span {
  border-radius: 4px;
  padding: 6px 8px;
}

@media print,screen and (min-width: 1024px) { 
  .breadcrumb ul li a:before {
      transform: scaleX(1);
      transition: transform 0.3s ease;
  }
  .breadcrumb ul li a:hover:before {
      transform: scaleX(0);
  }
}

body{
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  background: #fadcac;
}

img{
  margin-top: 2vh;
  width:auto;
  max-width:100%;
  height: 45vh;
}

.slider-show{
  text-align: center;
  margin-top: 20px;
}

.slider-show img{
  border: 10px #ffffff solid;
  box-sizing: border-box;
}

.slider{
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.slider img{
  border: .1px black;
  height: auto;
  width: 100%;
  
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0);
}


   