@charset "utf-8";

.Manubar {
    position: fixed;
    z-index: 1000;
    margin-top: -1%;
    width: 100vw;
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
  }

  .drawer-hidden {
    display: none;
  }

  .drawer-open {
    display: flex;
    height: 67px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    cursor: pointer;
  }

  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  .drawer-open span:before {
    bottom: 8px;
  }

  .drawer-open span:after {
    top: 8px;
  }

  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }

  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .drawer-content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 99;
    background: #fff;
    transition: .5s;
  }

 
  #drawer-check:checked ~ .drawer-content {
    left: 0%;
  }

  #drawer-check:checked ~ .drawer-open {
      left: 30%;
      animation: fadein .5s ease 0 0 normal ;
  }

ul.drawer-list {
	width: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eeeeee;
}
li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #000000;
}
li {
	text-align: center;
}
li:last-child {
	border-bottom: none;
}
li a.active {
	color: #ffffff;
	background-color: #da3c41;
}
li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
}

.cp_breadcrumb *, .cp_breadcrumb *::after, .cp_breadcrumb *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 0%;
}

.cp_breadcrumb {
    overflow: hidden;
    width: 92%;
    margin-left: 5em;
    margin-top: 2%;
    padding: 0;
    list-style: none;
}

.cp_breadcrumb li {
    display: inline-block;
    padding: 0;
    margin: 0 0 0.3em 0;
}

.cp_breadcrumb a {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0.2em 0.5em 0.2em 2em;
    text-decoration: none;
    color: #ffffff;
    background-color: #e91e63;
}

.cp_breadcrumb li:first-child a {
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
}

.cp_breadcrumb a::after,.cp_breadcrumb a::before {
    position: absolute;
    top: 50%;
    right: -0.96em;
    margin-top: -0.96em;
    content: "";
    border-top: 0.96em solid transparent;
    border-bottom: 0.96em solid transparent;
    border-left: 0.96em solid ;
}

.cp_breadcrumb a::after {
    z-index: 2;
    border-left-color: #e91e63;
}

.cp_breadcrumb a::before {
    z-index: 1;
    right: -1.2em;
    border-left-color: #ffffff;
}

.cp_breadcrumb li:nth-child(2) a {
    background: #ec407a;
}

.cp_breadcrumb li:nth-child(2) a::after {
    border-left-color: #ec407a;
}

.cp_breadcrumb li:nth-child(3) a {
    background: #f06292;
}

.cp_breadcrumb li:nth-child(3) a::after {
    border-left-color: #f06292;
}

.cp_breadcrumb li:nth-child(4) a {
    background: #f48fb1;
}

.cp_breadcrumb li:nth-child(4) a::after {
    border-left-color: #f48fb1;
}

.cp_breadcrumb li:nth-child(5) a {
    background: #f8bbd0;
}

.cp_breadcrumb li:nth-child(5) a::after {
    border-left-color: #f8bbd0;
}

.cp_breadcrumb li:last-child a {
    cursor: default;
    pointer-events: none;
    color: black;
    background: #f7d7e2;
    border-radius: 0 5px 5px 0;
}

.cp_breadcrumb li:last-child a::before,.cp_breadcrumb li:last-child a::after {
    content: normal;
}

header {
    position: relative;
    height: 30vh;
    width: 100%;
    z-index: 1;
    margin-top: 5vh;
    background: url(./img/deza-to.JPG) center / cover;
    background-color:rgba(255, 255, 255, 0.37);
    background-blend-mode:lighten;
}

header h1 {
    position: absolute;
    font-size: 32px;
    line-height: 20vh;
    text-align: center;
    vertical-align: bottom;
    top: 146px;
    left: 20px;
}
main1 {
    display: flex;
}

table {
    border-collapse: collapse;
    font-size: 15px;
    background: floralwhite;
    width:50%;
    height:200;
    margin-left: auto;
}

tr {
    border-color: navajowhite;
    border-style: solid;
    border-width: 1px 0;
}

main2 {
    display: flex;
}

.slide {
    margin: 2em;
    position: relative;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
  }
   
  @keyframes slideshow{
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    28%{
      opacity: 1
    }
    38%{
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
  }
   
  .slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    animation :slideshow 24s linear infinite;
  }
   
  .slide img:nth-child(2){
    animation-delay: 8s;
  }
   
  .slide img:last-child{
    animation-delay: 16s;
  }

  label {
    display: block;
    margin-bottom: 7px;
    font-size: 86%;
}
  iframe {
      float: right;
      margin: 2em;
  }
