@charset "utf-8";

.Manubar {
    position: fixed;
    z-index: 1000;
    margin-top: -1%;
    width: 100vw;
    background-color: #ffffff;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
  }

  .drawer-hidden {
    display: none;
  }

  .drawer-open {
    display: flex;
    height: 69px;
    width: 43px;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    cursor: pointer;
  }

  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  .drawer-open span:before {
    bottom: 8px;
  }

  .drawer-open span:after {
    top: 8px;
  }

  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }

  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .drawer-content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 99;
    background: #fff;
    transition: .5s;
  }

 
  #drawer-check:checked ~ .drawer-content {
    left: 0%;
  }

  #drawer-check:checked ~ .drawer-open {
      left: 30%;
      animation: fadein .5s ease 0 0 normal ;
  }

ul.drawer-list {
	width: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eeeeee;
}
li a {
	display: block;
	padding: 0px 7px;
	text-decoration: none;
	color: #000000;
}
li {
	text-align: center;
}
li:last-child {
	border-bottom: none;
}
li a.active {
	color: #ffffff;
	background-color: #da3c41;
}

.breadcrumb {
  margin: 0 0 0 10px;
  padding-top: 0.3%;
  -webkit-overflow-scrolling: touch; 
}

.breadcrumb ul {
  display: table;
}

.breadcrumb ul li {
  font-size: 1rem;
  display: table-cell; 
  white-space: nowrap; 
  vertical-align: middle;
  padding-right: 10px;
  position: relative;
}

.breadcrumb ul li:last-child {
  padding-right: 0;
}

.breadcrumb ul li:last-child:after {
  display: none;
}

.breadcrumb ul li:after {
  position: absolute;
  display: block;
  content: '';
  content: ">";
  top: 0px;
  right: -2px;
}

.breadcrumb ul li a:before {
  position: absolute;
  display: block;
  content: '';
  right: 5px;
  width: 90%;
  height: 1px;
  background-color: #111;
  bottom: 0px;
}

.breadcrumb ol li a,
.breadcrumb ol li span {
  position: relative;
  display: block;
  top: -4px;
}

.breadcrumb ul li span {
  border-radius: 4px;
  padding: 6px 8px;
}

@media print,screen and (min-width: 1024px) { 
  .breadcrumb ul li a:before {
      transform: scaleX(1);
      transition: transform 0.3s ease;
  }
  .breadcrumb ul li a:hover:before {
      transform: scaleX(0);
  }
}

header {
    position: relative;
    height: 35vh;
    width: 100%;
    z-index: 1;
    background: url(./img/deza-to.JPG) center / cover;
    background-color:rgba(255, 255, 255, 0.37);
    background-blend-mode:lighten;
}

header h1 {
    position: relative;
    font-size: 32px;
    line-height: 20vh;
    text-align:left;
    top: 60%;
    width: 100%;
    height: 50%;
}
main1 {
    display: flex;
}

table {
    border-collapse: collapse;
    font-size: 30px;
    background: floralwhite;
    width: 80%;
    height:200;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

tr {
    border-color: navajowhite;
    border-style: solid;
    border-width: 1px 0;
    text-align: center;
}


main2 {
    display: flex;
}

.slide {
    margin: 0em;
    position: relative;
    width: 90vw;
    height: 28vh;
    overflow: hidden;
}
   
@keyframes slideshow{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  28%{
    opacity: 1
  }
  38%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
   
.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: 0;
  animation :slideshow 24s linear infinite;
}
   
.slide img:nth-child(2){
  animation-delay: 8s;
}
   
.slide img:last-child{
  animation-delay: 16s;
}

label {
  display: block;
  margin-bottom: 7px;
  font-size: 86%;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 70px;
}
iframe {
    height: auto;
    float: right;
    margin: 2em;
}
input[type="text"]{
  height: 50px;
  width: 60%;
  font-size:x-large;
}
.search{
  text-align: center;
}
IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto ;
}
